<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>

<div class="screenshots">
    <div class="featureText">
        <h3>
            Screenshots
        </h3>
        <img src="/assets/Images/Image1.PNG" width="200" height="433">
        <img src="/assets/Images/Image2.PNG" width="200" height="433">
        <img src="/assets/Images/Image3.PNG" width="200" height="433">
    </div>
</div>